<div>

My email: <%= current_user.email %>
<br>
My fax: <%= current_user.fax_extension %>
<br>
All My Health Checks:
<% @health_checks.each do |health_check| %>
  Id: <%= health_check.id %>
  <br>
  <%= health_check.date %>
  <br>
  <%= health_check.clinic.name %>
  <br>
  Status: <%= health_check.result.attached? ? "Completed" : "Pending" %>
  <br>
    <% if health_check.result.attached? %>
      <%= link_to cl_image_path(health_check.result.key), target: :_blank, class: "btn btn-primary" do %>
        Result
      <% end %>
    <% end %>
  <br>
  <br>
<% end %>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
