<div class="custom-container">
  <div class="wat d-flex">
    <div class="emailbox">
      <h1>Employee Dashboard</h1>
      <h3>Email</h3>
      <p class="wordsw">Use this email if the clinic you attend will send your health check results via email.</p>
      <p class="email"><%= current_user.email %></p>
      <h3>Fax Number</h3>
      <p class="wordsw">Use this fax number if the clinic you attend will send your health check results via fax.</p>
      <p class="fax"><%= current_user.fax_extension %></p>
    </div>
    <div class="containery">
      <table style="width:100%" class="table table-sm table-striped table-hover table-primary-color table-thickness">
        <thead class="fgreen">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Clinic Name</th>
            <th scope="col">Results</th>
          </tr>
        </thead>
        <% @health_checks.each do |health_check| %>
          <tr>
            <td><%= health_check.date %></td>
            <td><%= health_check.clinic.name%></td>
            <% if health_check.result.attached? %>
              <td>
                <%= link_to cl_image_path(health_check.result.key, attachment: true), target: :_blank, class: "btn btn-success text-white" do %>
                  pdf
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
