<div class="page-body d-flex justify-content-between">
  <div class="page-left col-3 d-flex flex-column">
    <h1 class="page-title">
      Schedule Appointment
    </h1>
    <div class="card-setup">
      <% if @set_up.users.include?(current_user) %>
        <p>No new set_up to assign</p>
      <% else %>
        <div>
          <div class="timeframenew">
            <h5><%= "#{@set_up.start_date.strftime(' %b ' + @set_up.start_date.day.ordinalize + " %Y")} - #{@set_up.end_date.strftime(' %b ' + @set_up.end_date.day.ordinalize + " %Y")}" %></h5>
          </div>
          <div>
            <%= simple_form_for [@set_up, @health_check] do |f| %>
              <%= f.input :date, label: "Select Date", label_html: {class: "text-white"}, html5: true, input_html: {min: @set_up.start_date, max: @set_up.end_date}%>
              <%= f.association :clinic, label: "Select Clinic", class: "selectclinic", as: :radio_buttons, collection: @clinics %>
              <%= f.submit "Confirm", class: "btn btn-success w-100 mb-3" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="page-right col-6">
    <div style="width: 100%; height: 100%;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
