<h1>New set up</h1>
<%= simple_form_for(@set_up) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.association :clinics, as: :check_boxes%>
  <%= f.submit "Submit"%>
<% end %>
