<div>
  <h1>Create New Health Check Session</h1>
  <%= simple_form_for(@set_up) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.association :clinics, as: :check_boxes%>
    <%= f.submit "Submit", class: "btn btn-outline-success"%>
  <% end %>
</div>
