<div class="custom-container">
  <div class="hr-dashboard-info">
    <div>
      <div class="timeframe">
        <h3><i class="fa-solid fa-calendar icons"></i></h3>
        <h4>
          <%= @set_up.start_date.strftime(@set_up.start_date.day.ordinalize + ' %b %Y') %> <strong>-</strong>
          <%= @set_up.end_date.strftime(@set_up.end_date.day.ordinalize + ' %b %Y') %>
        </h4>
      </div>
    </div>
    <div class="top-middle d-flex justify-content-start">
      <div class="hr-dashboard-info-left me-5">
        <h4>Appointments Booked <i class="fas fa-user-friends"></i><%= @appointment_count %>/<%= @employee_count %></h4>
        <div class="progress bg-info">
          <% if @appointment_count == 0 %>
            <p class="text-light text-center"> 0%</p>
          <% end %>
          <div class="progress-bar bg-success fast" role="progressbar" style="width: <%= @appointment_rate%>%" aria-valuenow="<%= @appointment_rate %>" aria-valuemin="0" aria-valuemax="100"><%= @appointment_rate %>%</div>
        </div>
        <h4>
          Results Received
          <i class="fas fa-user-friends"></i>
          <%= @completion_count %>/<%= @employee_count %>
        </h4>
        <div class="progress bg-info">
          <% if @completion_count == 0 %>
            <p class="text-light text-center"> 0%</p>
          <% end %>
          <div class="progress-bar bg-success fast" role="progressbar" style="width: <%= @complete_rate%>%" aria-valuenow="<%= @complete_rate %>" aria-valuemin="0" aria-valuemax="100"><%= @complete_rate %>%</div>
        </div>
      </div>
      <div class="hr-dashboard-info-right ms-5">
        <h4 class="mb-3">
          Needs Appointment
          <i class="fas fa-user-friends"></i>
          <%= @no_appointment_emps.count %>
        </h4>
        <div class="card-index">
          <% @no_appointment_emps.each do |no_appointment_emp| %>
            <div class="card-trip">
              <%= cl_image_tag no_appointment_emp.photo.key, class: 'avatar' %>
              <%= no_appointment_emp.first_name.capitalize %>
              <% if @set_up.company.users.where(first_name: no_appointment_emp.first_name).count > 1 %>
                <%= no_appointment_emp.last_name.first.capitalize %>.
              <% end %>
            </div>
          <% end %>
        </div>
        <h4 class="mb-3">
          Results Pending
          <i class="fas fa-user-friends"></i>
          <%= @no_result_checks.count %>
        </h4>
        <div class="card-index">
          <% @no_result_checks.each do |no_result_check| %>
            <div class="card-trip">
              <%= cl_image_tag no_result_check.user.photo.key, class: 'avatar' %>
              <%= no_result_check.user.first_name.capitalize %><br>
              <%= no_result_check.date.strftime('%b %d') %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="hr-emp-table w-100 mt-5">
    <table class="table table-sm table-striped table-hover table-primary-color">
      <thead>
        <tr>
          <th scope="col">Employee Name</th>
          <th scope="col">Clinic</th>
          <th scope="col">Health Check Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @set_up.company.users.order('last_name ASC').each do |user| %>
            <td>
              <%= "#{user.last_name.capitalize} #{user.first_name.capitalize}" %>
            </td>
            <% if user.health_checks.find_by(set_up: @set_up) == nil %>
              <td>
              </td>
              <td>
              </td>
            <% else %>
              <td>
                <%= user.health_checks.find_by(set_up: @set_up).date.strftime(user.health_checks.find_by(set_up: @set_up).date.day.ordinalize + ' %b %Y') %>
              </td>
              <td class="text-center">
                <% if user.health_checks.find_by(set_up: @set_up).result.attached? %>
                  <i class="fa-solid fa-circle-check"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
