<li class="nav-item dropdown  nav-link">
  <% if @unread_notifications == 0 %>
    <span data-bs-toggle="dropdown"><i class="fa-solid fa-bell"></i></span>
    <div class="dropdown-menu dropdown-menu-end p-3" aria-labelledby="navbarDropdown">
      <p class="text-muted">No new message</p>
    </div>
  <% else %>
    <span data-bs-toggle="dropdown"><i class="fa-solid fa-bell"></i></span>
    (<%= @unread_notifications%>)
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <ul class="notifications list-group">
        <% @set_up_notifications.each do |notification| %>
          <% if notification.unread? %>
            <li class="list-group-item"><%= link_to notification.to_notification.message, notification.to_notification.url, class: "dropdown-item"%></li>
          <% end %>
        <% end %>
        <% @health_check_notifications.each do |notification| %>
          <% if notification.unread? %>
            <li class="list-group-item"><%= link_to notification.to_notification.message, "#", class: "dropdown-item"%></li>
          <% end %>
        <% end %>
        <% @result_notifications.each do |notification| %>
          <% if notification.unread? %>
            <li class="list-group-item"><%= link_to notification.to_notification.message, "#", class: "dropdown-item"%></li>
          <% end %>
        <% end %>
        <% if @unread_notifications >= 3 %>
          <li class="list-group-item">
          <div class="d-flex justify-content-end mt-2">
            <%= button_to "read all", read_all_notifications_path, method: :post, remote: true, onclick: "window.location.reload()", class: "btn btn-success text-white mb-3"%>
          </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</li>
