<div class="sidebar">
  <div class="sidebar-list d-flex flex-column justify-content-evenly">
    <% if current_user.admin%>
      <div class="card-sidebar <%= current_page?(controller: 'set_ups', action: 'show', id: SetUp.order("created_at DESC").first.id ) ? 'sidebar-active' : '' %>">
        <div class="card-sidebar-info">
          <i class="fa fa-fw fa-home"></i>
          HR
        </div>
        <%= link_to "", set_up_path(SetUp.order("created_at DESC").first), class: "link-card" %>
      </div>
      <div class="card-sidebar <%= current_page?(set_ups_path) ? 'sidebar-active' : '' %>">
        <div class="card-sidebar-info">
          <i class="fa-solid fa-book-open icons"></i>
          History
        </div>
        <%= link_to "", set_ups_path, class: "link-card" %>
      </div>
      <div class="card-sidebar <%= current_page?(controller: 'set_ups', action: 'new') ? 'sidebar-active' : '' %>">
        <div class="card-sidebar-info">
          <i class="fa-solid fa-square-plus icons"></i>
Start Health Check
        </div>
        <%= link_to "", new_set_up_path, class: "link-card" %>
      </div>
      <hr>
    <% end %>
    <div class="card-sidebar <%= current_page?(controller: 'health_checks', action: 'index') ? 'sidebar-active' : '' %>">
      <div class="card-sidebar-info">
        <i class="fa-solid fa-people-group icons"></i>
        Health Check Info
      </div>
      <%= link_to "", health_checks_path, class: "link-card" %>
    </div>
    <div class="card-sidebar <%= current_page?(controller: 'health_checks', set_up_id: SetUp.order("created_at DESC").first.id, action: 'new') ? 'sidebar-active' : '' %>">
      <div class="card-sidebar-info">
        <i class="fa-solid fa-calendar icons"></i>
        Schedule Appointment
      </div>
      <%= link_to "", new_set_up_health_check_path(SetUp.order("created_at DESC").first), class: "link-card" %>
    </div>
  </div>
</div>
